body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    margin: 0;

}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: #f4f4fd;
}

/* #region header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.header-logo-span {
    color: #2E2F42;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-item {

}

.header-nav-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.header-nav-link.active {
    color: #404bbf;
}
.header-nav-link:hover,
.header-nav-link:focus {
    color:#404bbf;
}

.header-nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.header-address-item {}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/* #endregion header*/

/* #region section-main */
.section-main {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/image_bg_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
  
}

.section-main-button {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    border: none;
    margin-right: auto;
    margin-left: auto;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.section-main-button:hover,
.section-main-button:focus {
    background-color: #404bbf;
}

/* #endregion section-main */

/* #region advantages */
.advantages {}

.advantages-title {}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;

}

.advantages-item {
    flex-basis: calc((100% - 72px) / 4);
}

.advantages-wrapper {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion advantages */

/* #region team */
.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {

}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-item-container {
    padding: 32px 0;
}

.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-social-item .social-link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.team-social-item .social-link:hover, 
.team-social-item .social-link:focus {
    background-color: #404bbf;
}


/* #endregion team */

/* #region portfolio */
.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    row-gap: 48px;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    display: flex;  
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-img {

}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.portfolio-item-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;

}


/* #endregion portfolio */

/* #region footer */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo-wrapper {
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    height: 40px;
}

.footer-social-wrapper {
    margin-right: 80px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-subscribe-wrapper {}

.footer-subscribe-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.footer-subscribe-input {
    display: flex;

    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 16px;
    background: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    outline: transparent;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color; 
}

.footer-subscribe-input:focus {
    border-color: #4d5ae5;
}

.footer-subscribe-input:focus::placeholder {
    color:#4d5ae5;
}


.footer-subscribe-input::placeholder {
    color: #fff;
}

.footer-subscribe-button {
    display: flex;
    justify-content: center;    
    align-items: center;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}
        
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: #404bbf;

}

.footer-subscribe-icon {
    margin-left: 16px;
    fill: #fff;
}


/* #endregion footer */

/* #region modal-overlay */
.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex; 
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
}

.modal-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border;

}


.modal-button-close:hover,
.modal-button-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button-close-icon {
    fill: #2e2f42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.modal-button-close:hover .modal-button-close-icon,
.modal-button-close:focus .modal-button-close-icon {
    fill: #fff;
}

.modal-caption {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 8px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}

.modal-form-input:focus {
    border-color: #4d5ae5;
}

.modal-form-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.modal-form-input:focus + .modal-form-icon {
    fill: #4d5ae5;
}

.modal-form-field.textarea {
    margin-bottom: 16px;
}

.modal-form-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    resize: none;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}

.modal-form-textarea:focus {
    border-color: #4d5ae5;
}

.modal-form-textarea::placeholder {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-agreement {
    margin-bottom: 24px;
}

.modal-form-agreement-label {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .modal-form-agreement-label > .modal-form-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-form-checkbox-icon {
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
}

input[type='checkbox']:checked + .modal-form-agreement-label .modal-form-checkbox .modal-form-checkbox-icon {
    opacity: 1;
}

.modal-form-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-form-button {
    display: block; 
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.modal-form-button:hover,
.modal-form-button:focus {
    background-color: #404bbf;
}

/* #endregion modal-overlay */
